<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <img src="{{ url_for('static', filename='big-beach.jpg') }}" alt="The beach">
</head>

<body>
    <h1>Bashir</h1>
    <p>Hey there, I'm Bashir and I'm a student in the Web Development course. 
        My hobbies are exercising and creating designs using software like adobe illustrator and photoshop.
        I have a big family as well and I like to go to the beach with my family.</p>
</body>

</html>